@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-lg;
  }
}

@layer components {
  input {
    @apply my-2 shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight;
  }
  .input:focus {
   @apply shadow;
  }
  
  textarea {
    @apply my-2 shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight;
  }
  .textarea:focus {
   @apply shadow;
  }

  select {
    @apply my-2 shadow bg-white border border-gray-200 text-gray-700 py-2 px-4 pr-8 rounded leading-tight;
  }

  select:focus {
    @apply outline-none bg-white;
  }
  
  label {
    @apply text-gray-400
  }

  button {
    @apply px-2 bg-white rounded shadow border-gray-200
  }

  table {
    @apply w-full table-auto text-left text-gray-400
  }
  tbody {
    @apply divide-y text-gray-600
  }
  thead {
    @apply bg-slate-50
  }
  th {
    @apply bg-gray-800 text-gray-200 px-6 py-3
  }
  tr {
    @apply border-b-2
  }
  td {
    @apply px-6 py-3
  }

  a {
    @apply text-blue-500
  }

  hr {
    @apply pb-2
  }

  .link-button { 
    @apply shadow-none py-0 px-0 text-blue-500 bg-white;
    background: none;
    border: none;
    cursor: pointer; 
  }
  .link-button:hover { 
    text-decoration: underline;
  }

  .server-message {
    @apply w-full rounded py-2 pl-3 mt-3
  }
  .success {
    @apply bg-green-300 text-white
  }

  .error {
    @apply bg-red-300 text-white
  }
}
