@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl !important;
  }
  h2 {
    @apply text-xl !important;
  }
  h3 {
    @apply text-base !important;
  }
}

@layer components {
  .basic-input {
    @apply my-2 shadow appearance-none border border-gray-300 rounded py-2 px-3 text-gray-700 leading-tight;
  }
  input[type=text] {
    @apply basic-input
  }
  input[type=username] {
    @apply basic-input
  }
  input[type=email] {
    @apply basic-input
  }
  input[type=password] {
    @apply basic-input
  }
  .input[type=text]:focus {
   @apply shadow;
  }
  input[type=date] {
    @apply basic-input
  }
  input[type=number] {
    @apply basic-input
  }
  input::placeholder {
    @apply text-gray-400;
  }
  select {
    @apply basic-input;
  }
  textarea {
    @apply basic-input;
  }
  textarea::placeholder {
    @apply text-gray-400;
  }
  .textarea:focus {
   @apply shadow;
  }

  select:focus {
    @apply outline-none bg-white;
  }
  
  label {
    @apply text-gray-400
  }
  label .description {

      @apply text-gray-300
  }

  table {
    @apply w-full table-auto text-left text-gray-400 shadow
  }
  tbody {
    @apply divide-y text-gray-600 border-b
  }
  thead {
    @apply bg-slate-50
  }
  th {
    @apply bg-gray-800 text-gray-200 px-6 py-1
  }
  tr {
    @apply bg-white border-r border-l
  }
  td {
    @apply px-6 py-1
  }
  hr {
    @apply pb-2
  }

  .server-message {
    @apply w-full rounded py-2 pl-3 mt-3
  }
  .success {
    @apply bg-green-300 text-white
  }

  .error {
    @apply bg-red-300 text-white
  }

  .card {
    background-color: white;
  }

  .clickable-list a {
    color: inherit !important; /* blue colors for links too */
    text-decoration: inherit !important; /* no underline */
    /* border-radius: 0; */
    /* background-color: rgba(0, 0, 0, 0) !important;  */
  }
}
.invalid {
	color: orangered;
}
